<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>Sign-Up</title>
</head>

<body class="font-mono bg-taupe-950 flex flex-col items-center text-mauve-400">
    


    <div class="text-xl p-4 justify-center h-screen w-full flex flex-col gap-4 items-center ">
        
        <form class="flex flex-col gap-4 items-center" method="POST" action="/users">
            <div class="flex">
                <div>Name:</div>
                <input class="border-mauve-400 border rounded-sm px-2" type="text" name="name"
                    placeholder="John Doe">
            </div>
            <div class="flex">
                <div>Email:</div>
                <input class="border-mauve-400 border rounded-sm px-2" type="text" name="email"
                    placeholder="johndoe123@gmail.com">
            </div>
            <div class="flex">
                <div>Gender:</div>
                <input class="border-mauve-400 border rounded-sm px-2" type="text" name="gender"
                    placeholder="Male">
            </div>
            <div class="flex">
                <div>Password:</div>
                <input class="border-mauve-400 border rounded-sm px-2" type="text" name="password">
            </div>
            <div>
                <button type="submit" class="border px-2 rounded-md hover:cursor-pointer bg-taupe-800">Sign Up</button>
            </div>
        </form>
    </div>
    

</body>

</html>